In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/ES PML 2102/classwork/train.csv')

In [ ]:
df.shape

(891, 12)

In [ ]:
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
df = df.drop(['PassengerId','Name','Ticket','Cabin','Embarked'],axis=1)
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500

In [ ]:
df.corr()
s -  0 1 
c -  1 2 3
s(high)c(low)
s(1)c(1 okay)

          Survived    Pclass       Age     SibSp     Parch      Fare
Survived  1.000000 -0.338481 -0.077221 -0.035322  0.081629  0.257307
Pclass   -0.338481  1.000000 -0.369226  0.083081  0.018443 -0.549500
Age      -0.077221 -0.369226  1.000000 -0.308247 -0.189119  0.096067
SibSp    -0.035322  0.083081 -0.308247  1.000000  0.414838  0.159651
Parch     0.081629  0.018443 -0.189119  0.414838  1.000000  0.216225
Fare      0.257307 -0.549500  0.096067  0.159651  0.216225  1.000000

In [ ]:
y=df['Survived']
df = df.drop(['Survived'],axis=1)
df.head()

   Pclass     Sex   Age  SibSp  Parch     Fare
0       3    male  22.0      1      0   7.2500
1       1  female  38.0      1      0  71.2833
2       3  female  26.0      0      0   7.9250
3       1  female  35.0      1      0  53.1000
4       3    male  35.0      0      0   8.0500

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
sex_transformed = le.fit_transform(df['Sex'])
df['Sex']=sex_transformed
df.head()

   Pclass  Sex   Age  SibSp  Parch     Fare
0       3    1  22.0      1      0   7.2500
1       1    0  38.0      1      0  71.2833
2       3    0  26.0      0      0   7.9250
3       1    0  35.0      1      0  53.1000
4       3    1  35.0      0      0   8.0500

In [ ]:
df.corr()

          Pclass       Sex       Age     SibSp     Parch      Fare
Pclass  1.000000  0.131900 -0.369226  0.083081  0.018443 -0.549500
Sex     0.131900  1.000000  0.093254 -0.114631 -0.245489 -0.182333
Age    -0.369226  0.093254  1.000000 -0.308247 -0.189119  0.096067
SibSp   0.083081 -0.114631 -0.308247  1.000000  0.414838  0.159651
Parch   0.018443 -0.245489 -0.189119  0.414838  1.000000  0.216225
Fare   -0.549500 -0.182333  0.096067  0.159651  0.216225  1.000000

In [1]:
df.info()

NameError: name 'df' is not defined

In [ ]:
df['Age'].values

In [ ]:
df['Age'].mean()

29.69911764705882

In [ ]:
df['Age'] = df['Age'].fillna(df['Age'].median())

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  891 non-null    int64
 1   Sex     891 non-null    int64
 2   Age     891 non-null    float64
 3   SibSp   891 non-null    int64
 4   Parch   891 non-null    int64
 5   Fare    891 non-null    float64
dtypes: float64(2), int64(4)
memory usage: 41.9 KB

In [ ]:
df.head()

   Pclass  Sex   Age  SibSp  Parch     Fare
0       3    1  22.0      1      0   7.2500
1       1    0  38.0      1      0  71.2833
2       3    0  26.0      0      0   7.9250
3       1    0  35.0      1      0  53.1000
4       3    1  35.0      0      0   8.0500

In [ ]:
x=df

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [ ]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((712, 6), (179, 6), (712,), (179,))

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
standard_df_train = scaler.fit_transform(X_train)
standard_df_test = scaler.transform(X_test)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

for i in range(3,30,2):
      print('k = '+str(i))
      # train the model using the train data
      neigh = KNeighborsClassifier(n_neighbors=i)
      neigh.fit(standard_df_train, y_train)

      # predict using the trained model
      y_pred_train = neigh.predict(standard_df_train)
      y_pred_test = neigh.predict(standard_df_test)

      # Accuracy
      acc_train = accuracy_score(y_train, y_pred_train)
      print('Accuracy of training data',acc_train)
      acc_test = accuracy_score(y_test, y_pred_test)
      print('Accuracy of testing data',acc_test)
      print('-'*50)
      print('-'*50)

k = 3
Accuracy of training data 0.875
Accuracy of testing data 0.8268156424581006
--------------------------------------------------
--------------------------------------------------
k = 5
Accuracy of training data 0.8609550561797753
Accuracy of testing data 0.7877094972067039
--------------------------------------------------
--------------------------------------------------
k = 7
Accuracy of training data 0.8525280898876404
Accuracy of testing data 0.8100558659217877
--------------------------------------------------
--------------------------------------------------
k = 9
Accuracy of training data 0.848314606741573
Accuracy of testing data 0.8156424581005587
--------------------------------------------------
--------------------------------------------------
k = 11
Accuracy of training data 0.8314606741573034
Accuracy of testing data 0.8044692737430168
--------------------------------------------------
--------------------------------------------------
k = 13
Accuracy of training data 0.8342696629213483
Accuracy of testing data 0.8044692737430168
--------------------------------------------------
--------------------------------------------------
k = 15
Accuracy of training data 0.8258426966292135
Accuracy of testing data 0.8044692737430168
--------------------------------------------------
--------------------------------------------------
k = 17
Accuracy of training data 0.8328651685393258
Accuracy of testing data 0.7932960893854749
--------------------------------------------------
--------------------------------------------------
k = 19
Accuracy of training data 0.8328651685393258
Accuracy of testing data 0.7988826815642458
--------------------------------------------------
--------------------------------------------------
k = 21
Accuracy of training data 0.8328651685393258
Accuracy of testing data 0.8044692737430168
--------------------------------------------------
--------------------------------------------------
k = 23
Accuracy of training data 0.8342696629213483
Accuracy of testing data 0.7932960893854749
--------------------------------------------------
--------------------------------------------------
k = 25
Accuracy of training data 0.8258426966292135
Accuracy of testing data 0.8100558659217877
--------------------------------------------------
--------------------------------------------------
k = 27
Accuracy of training data 0.8202247191011236
Accuracy of testing data 0.8100558659217877
--------------------------------------------------
--------------------------------------------------
k = 29
Accuracy of training data 0.827247191011236
Accuracy of testing data 0.8044692737430168
--------------------------------------------------
--------------------------------------------------

In [ ]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

list1 = [0.0001,0.001,0.01,0.1,1,10,100,1000,10000]
for i in list1:
      print(' alpha = '+str(i))
      # train the model using the train data
      bayes = GaussianNB(var_smoothing = i )
      bayes.fit(standard_df_train, y_train)

      # predict using the trained model
      y_pred_train = bayes.predict(standard_df_train)
      y_pred_test = bayes.predict(standard_df_test)

      # Accuracy
      acc_train = accuracy_score(y_train, y_pred_train)
      print('Accuracy of training data',acc_train)
      acc_test = accuracy_score(y_test, y_pred_test)
      print('Accuracy of testing data',acc_test)
      print('-'*50)
      print('-'*50)

 alpha = 0.0001
Accuracy of training data 0.797752808988764
Accuracy of testing data 0.7821229050279329
--------------------------------------------------
--------------------------------------------------
 alpha = 0.001
Accuracy of training data 0.797752808988764
Accuracy of testing data 0.7821229050279329
--------------------------------------------------
--------------------------------------------------
 alpha = 0.01
Accuracy of training data 0.797752808988764
Accuracy of testing data 0.7821229050279329
--------------------------------------------------
--------------------------------------------------
 alpha = 0.1
Accuracy of training data 0.7991573033707865
Accuracy of testing data 0.776536312849162
--------------------------------------------------
--------------------------------------------------
 alpha = 1
Accuracy of training data 0.7991573033707865
Accuracy of testing data 0.7206703910614525
--------------------------------------------------
--------------------------------------------------
 alpha = 10
Accuracy of training data 0.6306179775280899
Accuracy of testing data 0.5977653631284916
--------------------------------------------------
--------------------------------------------------
 alpha = 100
Accuracy of training data 0.6221910112359551
Accuracy of testing data 0.5921787709497207
--------------------------------------------------
--------------------------------------------------
 alpha = 1000
Accuracy of training data 0.6221910112359551
Accuracy of testing data 0.5921787709497207
--------------------------------------------------
--------------------------------------------------
 alpha = 10000
Accuracy of training data 0.6221910112359551
Accuracy of testing data 0.5921787709497207
--------------------------------------------------
--------------------------------------------------

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

list1 = [0.0001,0.001,0.01,0.1,1,10,100,1000,10000]
for i in list1:
      print(' alpha = '+str(i))
      # train the model using the train data
      bayes = LogisticRegression(C = i )
      bayes.fit(standard_df_train, y_train)

      # predict using the trained model
      y_pred_train = bayes.predict(standard_df_train)
      y_pred_test = bayes.predict(standard_df_test)

      # Accuracy
      acc_train = accuracy_score(y_train, y_pred_train)
      print('Accuracy of training data',acc_train)
      acc_test = accuracy_score(y_test, y_pred_test)
      print('Accuracy of testing data',acc_test)
      print('-'*50)
      print('-'*50)

 alpha = 0.0001
Accuracy of training data 0.6221910112359551
Accuracy of testing data 0.5921787709497207
--------------------------------------------------
--------------------------------------------------
 alpha = 0.001
Accuracy of training data 0.6404494382022472
Accuracy of testing data 0.6089385474860335
--------------------------------------------------
--------------------------------------------------
 alpha = 0.01
Accuracy of training data 0.8146067415730337
Accuracy of testing data 0.776536312849162
--------------------------------------------------
--------------------------------------------------
 alpha = 0.1
Accuracy of training data 0.800561797752809
Accuracy of testing data 0.770949720670391
--------------------------------------------------
--------------------------------------------------
 alpha = 1
Accuracy of training data 0.800561797752809
Accuracy of testing data 0.776536312849162
--------------------------------------------------
--------------------------------------------------
 alpha = 10
Accuracy of training data 0.800561797752809
Accuracy of testing data 0.776536312849162
--------------------------------------------------
--------------------------------------------------
 alpha = 100
Accuracy of training data 0.800561797752809
Accuracy of testing data 0.776536312849162
--------------------------------------------------
--------------------------------------------------
 alpha = 1000
Accuracy of training data 0.800561797752809
Accuracy of testing data 0.776536312849162
--------------------------------------------------
--------------------------------------------------
 alpha = 10000
Accuracy of training data 0.800561797752809
Accuracy of testing data 0.776536312849162
--------------------------------------------------
--------------------------------------------------

In [ ]:
bayes.coef_

array([[-1.04068922, -1.34367001, -0.64906178, -0.38901767, -0.04775039,
         0.04337831]])

In [ ]:
import numpy as np
feature_importance = abs(bayes.coef_[0])
feature_importance = 100.0 * (feature_importance / feature_importance.max())
sorted_idx = np.argsort(feature_importance)
pos = np.arange(sorted_idx.shape[0]) + .5

In [ ]:
pos

array([0.5, 1.5, 2.5, 3.5, 4.5, 5.5])

In [1]:
abs(-2)

2